.card__short {
    background-color: hsl(0, 0%, 100%);
    border-radius: .5rem;
    margin: 2rem;
    width: 12rem;
}

.flag {
    height: 7rem;
    width: 12rem;
    border-radius: .5rem .5rem 0 0;
}

.info {
    text-align: center;
    padding: 1rem;
}

.info__name {
    font-size: 1.5em;
    padding-bottom: 1rem;
}

.info__name:hover {
    cursor: pointer;
    color: blue;
}
